body {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* style */
  background-color: var(--color-white);
}

/* SMALL MOBILE (375px and up) */
@media (min-width: 375px) {}

/* TABLET (768px and up) */
@media (min-width: 768px) {}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}