/* MAIN */

main {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 125px;
}

/* SECTION */

.main-container {
  width: calc(320 / 375 * 100vw);
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

/* LAUNCH INFO */

.launch-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);
}

/* LOGO */

.hero-logo {
  width: 53.58px;
  height: 15.24px;
}

/* DESCRIPTION */

.launch-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-100);
}

/* NOTIFY ME FORM */

.notify-me-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-100);
  width: calc(320 / 375 * 100vw);
  max-width: 320px;
}

/* IMAGE */

.illustration-dashboard {
  height: 190px;
  width: 320px;
}

/* TABLET (768px and up) */

@media (min-width: 768px) {
  /* MAIN */

  main {
    /* layout */
    padding-bottom: 75px;
  }

  /* SECTION */

  .main-container {
    width: calc(712 / 768 * 100vw);
    max-width: 712px;
    gap: 95px;
  }

  /* LOGO */

  .hero-logo {
    width: 85.729px;
    height: 24.384px;
  }

  /* DESCRIPTION */

  .launch-text {
    gap: var(--spacing-200);
  }

  /* NOTIFY ME FORM */

  .notify-me-form {
    flex-direction: row;
    gap: var(--spacing-200);
    width: 100%;
    max-width: none;
  }

  /* IMAGE */

  .illustration-dashboard {
    width: 639.879px;
    height: 382.876px;
  }
}