/* MAIN */

main {
  /* layout */
  width: calc(320 / 375 * 100vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 125px;
}

/* SECTION */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  width: 100%;
}

/* LAUNCH INFO */

.launch-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);
}

/* LOGO */

.hero-logo {
  width: 53.58px;
  height: 15.24px;
}

/* DESCRIPTION */
.launch-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-100);
}

/* NOTIFY ME FORM */
.notify-me-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-100);
  width: 320px;
}

/* IMAGE */
.illustration-image {
  height: 190px;
  width: 320px;
}