button {
  /* layout */
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  /* style */
  border-radius: 28px;
  background: var(--color-blue-500);
  box-shadow: 0 5px 10px 2px rgba(76, 123, 243, 0.23);
  /* typography */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  color: var(--color-white);
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  button {
    /* layout */
    padding: 18px 62.5px;
    height: 56px;
    /* typography */
    font-size: var(--font-size-16);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}