/* INPUT */
input {
  /* layout */
  display: flex;
  height: 40px;
  width: 100%;
  padding: var(--spacing-0, 0) var(--spacing-300, 24px);
  align-items: center;
  gap: var(--spacing-0, 0);
  align-self: stretch;
  /* style */
  border-radius: 28px;
  border: 1px solid var(--color-blue-200);
  background: var(--color-white);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.00);
  /* typography */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-tight);
  color: var(--color-gray-400);
}

input::placeholder {
  color: var(--color-blue-200);
  opacity: 1;
}

/* ERROR MESSAGE */

.error-message {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-10);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-tight);
  color: var(--color-red);
  margin-top: var(--spacing-50);
}

/* TABLET (768px and up) */

@media (min-width: 768px) {
  input {
    /* layout */
    width: calc(421 / 768 * 100vw);
    height: 56px;
    /* typography */
    font-size: var(--font-size-16);
  }
}

/* DESKTOP (1440px and up) */

@media (min-width: 1440px) {}