#pop-up {
  /* layout */
  padding: 20px 40px;
  /* style */
  border-radius: 28px;
  background: var(--color-green-400);
  box-shadow: 0 5px 10px 2px rgba(76, 123, 243, 0.23);
  /* typography */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  /* position */
  position: fixed;
  bottom: 50px;
  right: 50px;
  /* animation */
  animation: slideUp 0.5s ease-out forwards;
}

#pop-up p {
  color: var(--color-white);
}

#pop-up.slide-down {
  animation: slideDown 1s ease-out forwards;
}